# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/
py311_env/
py312_env/

# Python packages
*.egg-info/

# Node.js
frontend/node_modules/
frontend/build/
frontend/.parcel-cache/
frontend/.vite/
dist/

# OS / IDE
.DS_Store
Thumbs.db
Desktop.ini
*.log
.vscode/

# Backend uploads & temp
backend/upload/
uploads/
media/
temp/

# ML Models (important)
backend/model/*.h5
backend/model/*.keras
backend/model/*.tflite
backend/model/*.pkl
backend/model/*.joblib

# Datasets (huge)
backend/model/*.csv
